body 
{
	background-color: white; 
	font-family: Tahoma,Verdana,Segoe,sans-serif; 
}

#title
{
	text-align: center; 
}

.pokemon_profile
{
	padding-right: 10px; 
	border: 1px solid #EE3B3B;

	margin: 1px; 
	background-color: #EE3B3B; 
	cursor: pointer; 

	/*margin-left: 2px; 
	margin-right: 2px; 
	display: block; */

	width: 100px; 
	height: 100px; 

	color: white; 

}

.pokemon_proile_id
{
	text-align: right; 
}

.rule 
{
	border: 1px solid #EE3B3B;
}

#marginleft
{
	margin-left: 10px; 
}





