span
{
	font-size: 15px;  
}

.title
{
	background-color: red; 
	color: white;
}

input[type=text]
{
	font-size: 10px; 

	position: relative;
	margin-left: auto; 
	margin-right: auto; 
}

optgroup
{
	font-size: 10px; 
	padding: 10px; 
}