body
{
	font-family: Monaco, Consolas, "Lucida Console", monospace;
<<<<<<< HEAD
	background-color: white ;

=======
	background-color: #E8E8EE; 
>>>>>>> 98e50931988b982b4325faafd1bf30a95ac3b334
}

span
{
	font-size: 15px;  
}

.title
{
	background-color: #00FFFF; 
	color: white;
}

input[type=text]
{
	font-size: 10px; 

	position: relative;
	margin-left: auto; 
	margin-right: auto; 
}

optgroup
{
	font-size: 10px; 
	padding: 10px; 
}

.moves-table
{
	border: 1px solid black; 
	padding: 10px; 
	float: right ;
}


th, td, tr
{
	border: 1px solid black; 
	padding: 10px; 
	font-size: 15px; 
}

.sprite_name h1
{
	display: inline; 
}

.attr_title h3
{
	background-color: #00FFFF; 
	border-radius: 15px; 

	padding: 5px; 
}

a
{
	color: black;
	text-decoration: none; 
}

a:hover
{
	text-decoration: underline; 
}

.stand_out_text
{
	font-size: 20px; 
	padding: 5px; 
}

.navbar
{
	text-align: right; 
<<<<<<< HEAD
	
	
	padding: 10px; 

	/*background-color: #00FFFF; */
	background-color: #222222; 

	border: 1px solid black;
	/*border-radius: 15px; */

	width: 50%; 

	display: block; 
	margin-right: auto; 
	margin-left: auto; 

	

	box-shadow: 2px 2px 5px #888888; 

=======
	background-color: grey; 
	
	padding: 10px; 

	background-color: #00FFFF; 
	border-radius: 15px; 
>>>>>>> 98e50931988b982b4325faafd1bf30a95ac3b334
	

}

<<<<<<< HEAD
.navbar h1, p 
{
	text-align: center; 
	color: white; 
=======
.navbar h1 
{
	text-align: center; 
>>>>>>> 98e50931988b982b4325faafd1bf30a95ac3b334
}

.navbar li 
{
<<<<<<< HEAD

=======
>>>>>>> 98e50931988b982b4325faafd1bf30a95ac3b334
	list-style-type: none; 
	display: inline; 
	cursor: pointer; 

<<<<<<< HEAD

}


=======
}

>>>>>>> 98e50931988b982b4325faafd1bf30a95ac3b334
.navbar form 
{
	display: inline; 
}

<<<<<<< HEAD
.search
{
	display: block; 
	margin: auto; 
}

#searchbar, #searchbar_submit
{
	display: block; 
	margin-right: auto; 
	margin-left: auto; 

	font-size: 2em; 

	/*width: 100%; */
}

#back_button
{
	text-align: right; 
}


=======
>>>>>>> 98e50931988b982b4325faafd1bf30a95ac3b334


