body
{
	font-family: Monaco, Consolas, "Lucida Console", monospace;
}

span
{
	font-size: 15px;  
}

.title
{
	background-color: #00FFFF; 
	color: white;
}

input[type=text]
{
	font-size: 10px; 

	position: relative;
	margin-left: auto; 
	margin-right: auto; 
}

optgroup
{
	font-size: 10px; 
	padding: 10px; 
}

.moves-table
{
	border: 1px solid black; 
	padding: 10px; 
	float: right ;
}


th, td, tr
{
	border: 1px solid black; 
	padding: 10px; 
	font-size: 15px; 
}

.sprite_name h1
{
	display: inline; 
}

.attr_title h3
{
	background-color: #00FFFF; 
	border-radius: 15px; 

	padding: 5px; 
}

a
{
	color: black;
	text-decoration: none; 
}

a:hover
{
	text-decoration: underline; 
}

.stand_out_text
{
	font-size: 20px; 
	padding: 5px; 
}



